<div>
  <%= flash[:notice] %>
</div>

<%= render 'books/list', book: @books, user: @user %>

<div>
  <h2>Book detail</h2>
  <div>
    <%= link_to user_path(@user.id) do %>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <%= @book.user.name %>
    <% end %>
    <%= link_to book_path(@book.id) do %>
      <%= @book.title %>
    <% end %>
      <p>Opinion  <%= @book.body %></p>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book) %>
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
  </div>
</div>